<% content_for(:title, t('.sub_title')) %>
<div class = "form-index">
  <div class = "gretel">
    <% breadcrumb :owner_new  %>
    <%= breadcrumbs separator: " > " , class: :logo %>
  </div>
  <div class ='title'>
    <h1><%= t '.title' %></h1>
    <h3><%= t '.sub_title' %></h3>
  </div>
  <div class = 'info'>
    <h2><%= t'.info' %><h3>
  </div>

  <div class = 'form-area'>
    <%= form_with model: @owner do |form| %>
      <%= render 'shared/error_messages', object: form.object %>
      <div class ='form-group'>
        <%= form.label :name %>
        <%= form.text_field :name, class: 'form', placeholder: "例: 根喪 太郎"%>
      </div>
      <div class ='form-group'>
        <%= form.label :email %>
        <%= form.email_field :email, class: 'form', placeholder: "例: nemo@sample.com" %>
      </div>
      <div class ='form-group'>
        <%= form.label :password %>
        <%= form.password_field :password, class: 'form', placeholder: "パスワード" %>
      </div>
      <div class ='form-group'>
        <%= form.label :password_confirmation %>
        <%= form.password_field :password_confirmation, class: 'form', placeholder: "パスワード" %>
      </div>
      <div class = 'item'>
        <%= form.submit (t 'defaults.register'), class: 'button' %>
      </div>
    <% end %>
  </div>
</div>