<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <%= display_meta_tags(default_meta_tags) %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <%
=begin%>
 <script async src="https://www.googletagmanager.com/gtag/js?id=G-1MT38CL68Z"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-1MT38CL68Z');
    </script> 
<%
=end%>
    <!-- Global site tag (gtag.js) - Google Analytics -->
  </head>

  <body>
    <%= render 'shared/header' %>
    <%= render 'shared/menubar' %>
    <%= yield %>
    <% unless current_page?(items_likes_path)%>
      <%= render 'shared/footer' %>
    <% end %>
  </body>
</html>
