<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta property="og:image" content="app/assets/images/Nemo(sp).jpg">
    <meta property="og:description" content="NEMOは優れたクリエイターが創造した新たなブランドを紹介するプラットフォームです " />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/header' %>
    <%= render 'shared/menubar' %>
    <%= yield %>
    <% unless current_page?(items_likes_path)%>
      <%= render 'shared/footer' %>
    <% end %>
  </body>
</html>
